table, table th, table td{
	border: 1px solid black;
}
table{
	border-collapse:collapse;
}



table tr:nth-child(2n){
	background-color: green;
	color : yellow;
}

table tr:nth-child(2n+1){
	background-color: yellow;
	color : green	;
}

table tr:nth-child(1){
	background-color: black ;
	color: white;

}